@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #48d9c0;
  padding: 30px;
  animation: pulse 5s infinite;
}

.title {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.container {
  display: none;
  background-color: #daf2ee;
  padding: 40px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  border-radius: 4px;
  border: solid #2c9180 1px;
  box-shadow: 8px 8px 6px #2c9180;
}

.info {
  display: flex;
  margin-bottom: 24px;
}

h1 {
  text-align: center;
}

h4 {
  font-weight: 600;
  margin: 0px 10px;
}

h4 > span {
  font-weight: 400;
}

.form {
  width: 100%;
}

.choices {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-bottom: 24px;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 25%;
  margin-bottom: 24px;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0px 10px;
  cursor: pointer;
}

.guess {
  background-color: #38b09c;
}

.new {
  background-color: #9fb3af;
}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  .info {
    flex-direction: column;
  }
}

@keyframes pulse {
  0% {
    background-color: #a4faec;
  }
  50% {
    background-color: #2c9180;
  }
  100% {
    background-color: #a4faec;
  }
}
